* {
  font-family: "M PLUS Rounded 1c", Avenir Next, Helvetica, sans-serif;
  color: white;
}

body {
  background: rgb(2, 0, 36);
  background: radial-gradient(
    circle,
    rgba(2, 0, 36, 1) 0%,
    rgba(137, 144, 236, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}

.wrapper {
  height: 525px;
  width: 360px;
  color: white;
  background: #272639;
  border-radius: 1rem;
  padding: 1.2rem;
  margin: 100px auto;
}

.heading {
  text-align: center;
}

#topContainer {
  margin-top: 3rem;
}

.container {
  margin-top: 1.4rem;
}

.title {
  font-weight: bold;
  margin-bottom: 0.6rem;
}

.inputContainer {
  background: #353959;
  border-radius: 1.4rem;
  padding: 0 0.8rem;
  display: flex;
  align-items: center;
}

#billTotalInput,
#tipInput {
  font-size: 1.2rem;
  background: none;
  border: none;
  outline: none;
  padding: none;
}

.buttonContainer {
  background: #8990ec;
  display: grid;
  place-items: center;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
}

.splitButton {
  background: none;
  border: none;
}

.controls {
  display: flex;
  align-items: center;
}

.splitButton {
  font-size: 0.8rem;
  font-weight: bold;
  display: grid;
  place-items: center;
}

.buttonText {
  color: #353959 !important;
}

.splitAmount {
  font-size: 1.6rem;
  margin: 0.8rem;
}

#bottom {
  display: flex;
  justify-content: space-between;
}

.totalContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.total {
  font-size: 2rem;
}

.spacer {
  height: 150px;
}
.resetContainer {
  display: flex;
  margin: auto;
  background: #8990ec;
  justify-content: center;
  font-size: 1.8;
  place-items: center;
  width: 6rem;
  height: 2rem;
  border-radius: 15rem;
}

#inputReset {
  background: none;
  border: none;
}

.resetText {
  color: #353959 !important;
  font-size: 1.2rem;
}
